@(isOrig:  Option[Boolean],sessionId: String, data:Option[TalkData],request:Request[AnyContent])(implicit flash: Flash)

@main("Monotalk") {
	<div style = "color:red">
    	@flash.get("error").getOrElse("")
    </div>
    <div style = "color:green">
    	@flash.get("success").getOrElse("")
    </div>
   	@if(data.isEmpty){
   		<input onclick="doCreate()" type="button" value="konusma baslat">
   		<br>
   		<input onclick="doJoin()" type="button" value="konusmaya katil"><input id="talkToJoin" type="text">
   	}else{
   		@if(isOrig.get){
   			Bir konusma baslattiniz
   		}else{
   			Bir konusmaya katildiniz
   		} 
   		<br>
   		Id: @data.get.id
   		<br>
   		Link: http://@(request.host)/@data.get.id (konusmak istedigini kisiyle paylasiniz)
   		<br>
		Durum: <span id="talkStatus">karsi taraf bekleniyor</span>
   		<br>
   		<div id="talkWindow">
	   		<video id="local-stream" class="videostream" autoplay style="width: 173px;height:128px;border: 1px solid #Ebebeb;background:white;">local video</video>
	   		<video id="remote-stream" class="videostream" autoplay style="width: 173px;height:128px;border: 1px solid #Ebebeb;background:white;">remote video</video>
	   		
	   		<div style="border:1px solid black;width:300px">
	   			<div><b>Konusma Penceresi</b></div>
		   		<div id="messages">
		   		
		   		</div>
		   		<input id="msgToSend" type="text"><input onclick="doSend()" type="button" value="gonder">
	   		</div>
   		</div>
   		<br>
   		<input onclick="doCreate()" type="button" value="baska konusma baslat">
   		<br>
   		<input onclick="doJoin()" type="button" value="baska konusmaya katil"><input id="talkToJoin" type="text">
   	}
  
}

<script>
	@if(data != None){
		window.addEventListener("load", init(@isOrig,"@request.host"), false);
	}
</script>

