@(isOrig:  Option[Boolean],sessionId: String, data:Option[TalkData],request:Request[AnyContent])(implicit flash: Flash)

@main("Monotalk") {
	<div style = "color:red">
    	@flash.get("error").getOrElse("")
    </div>
    <div style = "color:green">
    	@flash.get("success").getOrElse("")
    </div>
   	@if(data.isEmpty){
   		<input onclick="doCreate()" type="button" value="konusma baslat">
   	}else{
   		@if(isOrig.get){
   			Bir konusma baslattiniz
   			<br>
	   		Id: @data.get.id
	   		<br>
	   		Link: <span style="color:red">http://@(request.host)/@data.get.id</span> (konusmak istedigini kisiyle paylasiniz)
	   		<br>
   		}else{
   			Bir konusmaya katildiniz
   			<br>
	   		Id: @data.get.id
	   		<br>
   		} 

		Durum: <span id="talkStatus">karsi taraf bekleniyor</span>
   		<br>
   		<div id="talkWindow">
	   		<video id="local-stream" class="videostream" autoplay style="width: 173px;height:128px;border: 1px solid #Ebebeb;background:white;">local video</video>
	   		<video id="remote-stream" class="videostream" autoplay style="width: 173px;height:128px;border: 1px solid #Ebebeb;background:white;">remote video</video>
	   		<input onclick="startVideo()" type="button" value="video baslat">
	   		<br>
	   		<canvas style="border: 1px solid black;" width="300" height="300" id="whiteboard"></canvas>
	   		<div style="border:1px solid black;width:300px">
	   			<div><b>Konusma Penceresi</b></div>
		   		<div id="messages">
		   		
		   		</div>
		   		<input id="msgToSend" type="text"><input onclick="doSend()" type="button" value="gonder">
	   		</div>
   		</div>
   		<br>
   		<input onclick="doCreate()" type="button" value="baska konusma baslat">
   	}
  
}

<script>
	var leftButtonDown = false;
	var moveTime = 0;
	@if(data != None){
		window.addEventListener("load", init(@isOrig,"@request.host"), false);
	}
	
	$("#whiteboard").on("mousemove",function(event){
		if(leftButtonDown){
			if((event.timeStamp - moveTime)>100){
				var pos = $("#whiteboard").position(); 
				var xCor = event.clientX - pos.left ;
				var yCor = event.clientY - pos.top ;
				drawCircle(xCor,yCor,"black");
				dataCh.send("board:"+xCor+","+yCor);
				moveTime = event.timeStamp;
			}
		}
	})
	
	
	
	function drawCircle(x,y,color) {
	    ctx.beginPath();
	    ctx.arc(x, y, 2, 0, Math.PI * 2);
	    ctx.fillStyle=color;
	    ctx.fill();	    
	}
	
    $(document).on("mousedown",function(e){
        // Left mouse button was pressed, set flag
        if(e.which === 1) leftButtonDown = true;
    });
    $(document).on("mouseup",function(e){
        // Left mouse button was released, clear flag
        if(e.which === 1) leftButtonDown = false;
    });
</script>

